* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 14px;
  	line-height: 24px;
  	font-weight: 700;
  	text-transform: uppercase;
  	color: #fff;
  	min-width: 960px;
	background: #070707 url('bg-index.jpg') no-repeat center top;
}

a {
	text-decoration: none;
	color: #fff;
}

ul {
	list-style-type: none;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.container {
	width: 940px;
	margin: 0 auto;
}

.inner-page {
	background: #f9f6f3 url('bg-content.jpg');
	color: black;
}

.page-navigation a {
	color: black;
}

.main-header {
	background: black;
	margin-bottom: 60px;
}

.main-navigation ul {
	float: left;
}

.main-navigation li {
	display: inline-block;
	font-size: 16px;
	line-height: 20px;
	vertical-align: top;
}

.main-navigation a {
	padding: 20px 25px;
	display: block;
	position: relative;
}

.main-navigation a:hover {
	background: #242424;
}

.main-navigation .active a:hover {
	background: none;
}

.main-navigation .active a:after {
	content: "";
	position: absolute;
	bottom: 0;
  	left: 20px;
  	right: 20px;
	height: 5px;	
	background: white;
}

.user-block {
	float:right;
	width: 140px;
	padding-left: 50px;
}

.login {
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 20px 20px;
	padding-left: 50px;
	font-size: 16px;
	line-height: 20px;
	text-decoration: none;
	color: #fff;
}

.login:hover {
  background: #242424;
}

.login:before {
  content: "";
  position: absolute;
  top: 22px;
  left: 20px;
  width: 18px;
  height: 16px;
  background: url('i-user-enter.png');
  opacity: .3;
}

.login:hover:before {
  opacity: 1;
}

.logo {
	width: 368px;
	height: 204px;
	margin: auto;
}

.features-item {
	width: 300px;
	float: left;
	margin-right: 20px;
}

.features-item:last-child {
	margin-right: 0; 
}

.features {
	margin-bottom: 60px;
	position: relative;
}

.features-title {
	font-size: 30px;
	text-align: center;
	padding-bottom: 50px;
	margin-bottom: 30px;
	position: relative;
}

.features-title:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -10px;
	width: 20px;
	height: 20px;
	background: white;
	display: block;
	transform: rotate(45deg);

}

.features-item p {
	font-size: 14px;
	line-height: 24px;
	text-align: center;
}

.content {
	padding: 55px 80px;
	margin-bottom: 35px;
	background: url('el-divider.png') no-repeat center, #f9f6f3 url('bg-content.jpg');
	color: black;
}

time {
	font-family: 'Georgia', sans-serif;
	font-style: italic;
	text-transform: lowercase;
	font-weight: 300;
	line-height: 18px;
}

.content-left {
	width: 350px;
	float: left;
}

.content-left p {
	margin-bottom: 35px;
}

.content-news-item li {
	margin-bottom: 35px;
}

.content-right {
	width: 300px;
	float: right;
}

.content-title {
	margin-bottom: 40px;
	font-size: 30px;
	line-height: 40px;
}

.btn {
	display: inline-block;
	vertical-align: top;
	padding: 10px 33px;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 14px;
  	line-height: 24px;
  	font-weight: 700;
  	text-transform: uppercase;
  	color: white;
  	background: black;
  	border: none;
  	outline: none;
  	margin-right: 16px;
  	cursor: pointer;
}

.btn:hover, .btn:active {
	background: #663d15;
}

.btn.disabled {
	cursor: default;
	background: #828282;
}

.btn.disabled:hover, .btn.disabled:active {
	background: #828282;
}

.gallery {
	height: 280px;
	position: relative;
}

.gallery-content {
	border: 7px solid white;
	height: 164px;
	background: #ccc;
}

.gallery .btn {
	position: absolute;
	bottom: 0;
	width: 140px;
}

.gallery-next {
	right: 0;
	margin-right: 0;
}

.appointment-form p {
	margin-bottom: 35px;
}

.appointment-form .btn-submit {
	width: 100%;
}

.form-control {
	padding: 10px 15px;
	width: 106px;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 14px;
  	line-height: 24px;
  	font-weight: 700;
  	text-transform: uppercase;
  	color: black;
  	outline: none;
  	border: 2px solid black;
  	float: left;
  	margin-right: 20px;
  	margin-bottom: 20px;
}

.form-control:focus {
	border: 2px solid #967a5e;
}

.even {
	margin-right: 0;
}

.main-footer {
	height: 190px;
	background: black;
	margin-top: 65px;
	background: #232323 url('bg-footer.jpg');
	padding-top: 65px;
	color: white;
	box-shadow: 0px 15px 20px -3px black inset; 
}

.main-footer .btn {
	margin-right: 0;
}

.footer-info {
	width: 380px;
	float: left;
}

footer p {
	margin-bottom: 10px;
}

.footer-socials {
	width: 180px;
	float: left;
	text-align: center;
}

.social-btn {
  	margin: 0 2px;
  	display: inline-block;
  	vertical-align: top;
  	width: 43px;
  	height: 43px;
	font-size: 0;
  	text-decoration: none;
  	background: black url('icons-social.jpg') no-repeat center;
}

.social-btn-vk {
	background-position: 0px 0px;
}

.social-btn-vk:hover {
	background-position: 0px -43px;
}

.social-btn-fb {
	background-position: -43px 0px;
}

.social-btn-fb:hover {
	background-position: -43px -43px;
}

.social-btn-insta {
	background-position: -86px 0px;
}

.social-btn-insta:hover {
	background-position: -86px -43px;
}

.footer-copyright {
	width: 380px;
	float: right;
	text-align: right;
}

.page-navigation {
	margin-bottom: 40px;
}

.page-navigation li{
	display: inline;
	margin-right: 40px;
	position: relative;
}

.page-navigation li:after{
	content: "";
	width: 8px;
	height: 8px;
	background-color: black;
	transform: rotate(45deg);
	position: absolute;
	top: 5px;
	right: -25px;
}

.page-navigation li:last-child:after {
	content: none;
}

.item-photos {
	width: 460px;
	float: left;
	padding-bottom: 20px;
}

.item-description {
	width: 400px;
	float: right;
}

.item-description h2 {
	font-size: 30px;
	margin-bottom: 30px;
}

.item-description h3 {
	font-size: 24px;
	margin-bottom: 40px;
}

.item-price {
	padding: 10px 30px;
	background-color: #e5e5e5;
	display: inline-block;
}

.item-price.in-list {
	padding: 10px 0;
	width: 110px;
	text-align: center;
}

.btn-buy {
	margin-bottom: 35px;
}

.item-in-stock {
	float: left;
}

.item-number {
	float: right;
	color: #aeaeae;
	margin-bottom: 35px;
}

.item-text {
	margin-bottom: 70px;
}

.item-text a {
	color: black;
	text-decoration: underline;
}

.kit li, .inner-left li {
	padding-left: 20px;
	position: relative;
}

.kit li:before, .inner-left li:before {
	content: "";
	width: 8px;
	height: 8px;
	background-color: black;
	transform: rotate(45deg);
	position: absolute;
	top: 8px;
	left: 0px;
}

.photo-active {
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	margin-bottom: 20px;
}

.photo-previews {
	width: 460px;
}

.photo-preview {
	float: left;
	margin-right: 20px;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.inner-left {
	width: 380px;
}

.inner-left li {
	margin-bottom: 10px;
}

.inner-left li:last-child {
	margin-bottom: 0;
}

.inner-right {
	width: 460px;
}

.photo-preview:last-child {
	float: right;
	margin-right: 0;
}

.page-title {
	font-size: 30px;
	margin-bottom: 30px;
}

.slogan{
	margin-bottom: 65px;
	text-align: center;
}

.slogan h2 {
	position: relative;
	display: inline;
	margin: 0;
	padding: 0 25px;
	font-size: 48px;
	line-height: 48px;
	text-align: center;
	background: #f9f6f3 url('bg-content.jpg');
	z-index: 2;
}

.slogan:after {
	content: "";
	display: block;
	border-bottom: 2px solid black;
	position: relative;
	top: -25px;
	z-index: 1;
}

.pricelist {
	border-collapse: collapse;
	border: 2px solid black;
	width: 100%;
}

.pricelist td {
	border: 2px solid black;
	padding: 15px 20px;
}

.content-bottom {
	width: 100%;
	float: left;
	margin-top: 70px;
}

p.content-left {
	width: 380px;
	margin-right: 100px;
}

p.content-right {
	width: 380px;
}

.search {
	width: 220px;
	float: left;
	margin-right: 20px;
}

.item-list {
	width: 700px;
	float: right;
}

.item {
	width: 220px;
	height: 300px;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 20px;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	background-color: white;
}

.item h1 a {
	color: black;
	font-size: 14px;
}

.item p {
	 text-transform: none;
	 line-height: 14px;
	 margin-bottom: 15px;
}

.inner-page .btn-buy {
	padding: 10px 15px;
}

.item-content {
	padding-left: 20px;
}

.pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
	background-color: black;
    margin-right: 7px;
}

.pagination a:hover {
	background-color: #663d15;
}

.pagination a.active {
    background-color: white;
    color: black;
}

.search h3 {
	font-size: 24px;
	margin-bottom: 35px;
}

.search li {
	padding-left: 45px;
	position: relative;
	margin-bottom: 25px;
	cursor: pointer;
}

.search li:hover, .search li:active {
	color: #663d15;
}

.checks li:before {
	content: "";
	cursor: pointer;
	position: absolute;
	left: 0;
	display: inline-block;
	vertical-align: top;
	width: 20px;
	height: 20px;
	background: url('el-form.png');
	background-position: 20px 20px;
}

.radios li:before {
	content: "";
	cursor: pointer;
	position: absolute;
	left: 0;
	display: inline-block;
	vertical-align: top;
	width: 20px;
	height: 20px;
	background: url('el-form.png');
	background-position: 20px 0px;
}

.search input[type="checkbox"] {
	display: none;
}

.search input[type="radio"] {
	display: none;
}

/*Модальное окно*/

.modal-content {
	width: 300px;
	background: #f9f6f3 url('bg-content.jpg');
	color: black;
	padding: 50px 80px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -230px;
	margin-top: 100px;
}

.modal-content-close {
	width: 40px;
	height: 40px;
	font-size: 0;
	cursor: pointer;
	background: url('el-modal.png') no-repeat center;
	background-position: 0 19px;
	position: absolute;
	top: 0;
	right: -70px;
}

.modal-content h2{
	font-size: 30px;
	margin-bottom: 35px;
}

.modal-content p {
	margin-bottom: 35px; 
}

.modal-content input {
	width: 270px;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 14px;
  	line-height: 24px;
  	font-weight: 700;
  	text-transform: uppercase;
  	color: black;
  	outline: none;
  	border: 2px solid black;
  	padding: 10px 15px;
  	margin-bottom: 10px;
  	position: relative;
}

.modal-content input:focus {
	border: 2px solid #967a5e;
}

.remember-me {
	display: inline-block;
	float: left;
}